<style>
	.icon-bsky {
		display: inline-block;
		width: 1.25em;
		min-width: 1.25em;
		height: 1.25em;
		min-height: 1.25em;
		background: url("/assets/icons/bluesky.svg") center / contain no-repeat !important;
		visibility: visible;
		opacity: 1;
		filter: grayscale(1) brightness(0) invert(1);
		vertical-align: -0.125em;
	}

	.icon-bsky::before {
		content: none;
	}

	#_main .sidebar-social .icon-bsky {
		background-image: url("/assets/icons/bluesky-black.svg") !important;
		filter: none;
	}
</style>

